.modal-content {

    .modal-header {
        border-bottom: none;

        #modal-close-btn {
            font-size: 12px;
        }
    }

    .modal-footer {
        border-top: none;
    }   
}

.error {
    color: #842029;
    background-color: #f8d7da;
}

.warning {
    color: #664d03;
    background-color: #fff3cd;
}

.success {
    background-color: #d1e7dd;
    color: #0f5132;
}