.dashboard {
    .banner-titulo {
        color: white;
        background-image: linear-gradient(to bottom, #58706e, #008b8b, #58706e);
        justify-content: start;
        padding: 50px 0 100px 70px;

        @include res-lg {
            padding: 50px 0 90px;
        }

        .titulo-1 {
            font-size: 28px;
        }

        .descricao {
            font-size: 18px;
        }
    }

    .projetos {
        margin: -3.5rem 0 3.5;

        .projeto {
            background-color: #FFFFFF;
            box-shadow: 0 0 1rem grey;
            border-radius: 10px;

            .fundo {
                background-color: #008b8b;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 100%;
                height: 100px;
            }

            .projeto-interno {
                padding: 15px;

                .titulo-projeto {
                    font-size: 20px;
                }

                .categoria {
                    font-weight: 400;
                    color: #808080;
                }

                .descricao {
                    font-size: 16px;
                }

                .enviar {
                    .btn-1 {
                        font-size: 16px;
                        line-height: 22px;
                        background-color: #ffc107;
                        border-radius: 6px;
                        padding: 12px 20px;
                        transition: .7s;
    
                        &:hover {
                            color: #FFFFFF;
                            background-color: #d19e04;
                            transition: .7s;
                        }
                    }
                }
            }

            
        }
    }
}