.nav-item {
    #language {
        &:after {
            display: none;
        }
    }

    .dropdown-menu {
        @include res-lg {
            left: -160%;
        }

        .dropdown-item {
            img {
                padding-right: 5px;
            }
        }
    }
}