.member-card {
    // background-color: #F2B705;
    background-color: rgb(255, 246, 219);
    border: #F2B705 solid 3px;
    border-radius: 20px;
    width: 220px;
    height: 280px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Sarabun', sans-serif;
    box-shadow: 2px 2px 2px #868686;

    .profile-user {
        width: 140px;
        height: 140px;
        background-color: rgb(86, 99, 99);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        box-shadow: 2px 2px 2px #666666;

        .photo {
            height: 100%;
            width: 100%;
            overflow: hidden;
            z-index: 1;
            border-radius: 100%;
        }
    }
    .user-name {
        font-size: 23px;
        margin-top: 10px;
    }
    .user-type {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        margin-top: 8px;
    }
    .profile-button {
        border: #F2B705 solid 2.5px;
        background-color: rgb(255, 236, 179);
        width: 60%;
        margin-top: 10px;
        padding: 6px;
        border-radius: 50px;
        box-shadow: 2px 2px 2px #888888;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 700;
        color: #9e7700;

        &:hover {
            background-color: #F2B705;
            transition: background-color 0.2s linear;
            color: white;
        }
    }
}