.admin-card {
    height: 200px;
    width: 100%;
    // background-color: #c5d7d8;
    background-color: white;
    box-shadow: 0 0 1em grey;
    border-radius: 15px;
    overflow: hidden;

    .card-category {
        background-color: #008b8b;
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 11px;
    }

    .card-content {
        .image-column {
            padding: 30px;

                .profile-image {
                    width: 130px;
                    height: 130px;
                    border-radius: 100%;
                }
        }

        .content-column {
            .project-status {
                font-size: 13px;
                letter-spacing: .5px;
            }

            .project-name {
                font-size: 22px;
            }

            .project-cause {
                font-size: 16px;
                color: rgb(121, 121, 121);
            }

            .project-description {
                text-align: justify;
                height: 88px;
                overflow: hidden;
            }
        }
    }
}