.register-page {
    // width: 100%;
    // height: 100vh;
    // background-color: rgb(230, 255, 255);
    // align-items: center;
    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // text-align: center;
    font-family: 'Sarabun', sans-serif;

    .register-cover {
        background: rgb(16, 115, 105);
        background: linear-gradient(180deg, rgba(16, 115, 105, 1) 0%, rgba(0, 197, 184, 1) 100%);
        height: 250px;
        box-shadow: 1px 1px 1px #757575;
    }

    .register-content {
        background-color: rgb(248, 248, 248);
        width: 60%;
        height: 70%;
        margin-top: -150px;
        border-radius: 20px;
        box-shadow: 3px 3px 3px #757575;
        overflow: hidden;
        // align-items: center;
        // display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
        // text-align: center;
        // justify-content: center;

        @include res-md {
            width: 85%;
        }

        .title-column {
            background-color: rgb(154, 201, 196);
            // height: 70vh;
            align-items: center;
            display: flex;
            flex-direction: column;
            // flex-wrap: wrap;
            // text-align: center;
            justify-content: center;
            box-shadow: 2px 2px 2px #ababab;

            .title {
                font-size: 25px;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-weight: 800;
                margin-bottom: 20px;
                color: #0e5e56;
                text-shadow: 1px 1px 1px rgb(178, 178, 178);
            }

            .subtitle {
                color: rgb(62, 62, 62);
                text-align: center;
                padding: 7px 15px;
            }

            .hr {
                border-bottom: 2px solid rgb(143, 143, 143);
                height: 0.5px;
                width: 90%;
                margin-top: 20px;
            }

            .hr-text {
                margin-top: -13.5px;
                background-color: rgb(154, 201, 196);
                padding: 0 10px;
                color: rgb(118, 118, 118);
            }

            .login {
                font-size: 17px;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .subtitle-login {
                color: rgb(62, 62, 62);
                text-align: center;
                padding: 0px 15px;
                font-size: 14px;
            }

            .login-button {
                margin-top: 20px;
                padding: 7px 17px;
                border: 2px solid #107369;
                color: #107369;
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                background-color: #ffffff00;
                border-radius: 50px;
                box-shadow: 2px 2px 2px #757575;
                letter-spacing: 1px;
                word-spacing: 3px;
                margin-bottom: 20px;

                &:hover {
                    background-color: #107369;
                    transition: background-color 0.4s linear;
                    color: #F2F2F2;
                }
            }

        }

        .form-column {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            transition: 0.4s;

            .form-register {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;

                @include res-md {
                    margin: 0;
                }

                .form-control,
                .form-select {
                    &:focus {
                        border-color: #008b8b;
                        box-shadow: inherit;
                    }
                }

                .switch-button {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    text-align: center;
                    justify-content: center;

                    .switch-input {
                        height: 0;
                        width: 0;
                        visibility: hidden;

                        &:checked+.switch-label {
                            background-color: #0e5e56;

                            &::after {
                                margin-left: 46%;
                                background-color: rgb(248, 248, 248);
                                transition: 0.5s;
                            }
                        }
                    }

                    .switch-label {
                        border: 1px solid #0e5e56;
                        text-indent: -9999px;
                        display: block;
                        border-radius: 100px;
                        width: 50px;
                        height: 25px;
                        position: relative;

                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        text-align: center;
                        justify-content: center;
                        padding-left: 3px;

                        &::after {
                            content: '';
                            position: absolute;
                            width: 21px;
                            height: 21px;
                            background-color: #0e5e56;
                            border-radius: 80%;
                            transition: 0.5s;
                        }
                    }
                }

                .hr {
                    height: 1.5px;
                    width: 100%;
                    background-color: #acacac;
                }

                .hr-text {
                    background-color: rgb(248, 248, 248);
                    padding: 0 10px;
                    color: rgb(173, 173, 173);
                    width: auto;
                    margin: 0 auto;
                    margin-top: -8px;
                    font-size: 10px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                .register-button {
                    padding: 5px 17px;
                    border: 2px solid #107369;
                    color: #107369;
                    font-weight: 600;
                    font-size: 14px;
                    text-transform: uppercase;
                    background-color: #ffffff00;
                    border-radius: 50px;
                    box-shadow: 2px 2px 2px #757575;
                    letter-spacing: 1px;
                    word-spacing: 3px;
                    transition: all 0.2s linear;

                    &:hover {
                        background-color: #107369;
                        transition: background-color 0.4s linear;
                        color: #F2F2F2;
                    }
                }

                .gender-label {
                    margin-left: 6px;
                }
            }

            .register-form {
                .switch-button {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    text-align: center;
                    justify-content: center;

                    .switch-input {
                        height: 0;
                        width: 0;
                        visibility: hidden;

                        &:checked+.switch-label {
                            background-color: #0e5e56;

                            &::after {
                                margin-left: 46%;
                                background-color: rgb(154, 201, 196);
                                transition: 0.5s;
                            }
                        }
                    }

                    .switch-label {
                        border: 1px solid #0e5e56;
                        text-indent: -9999px;
                        display: block;
                        border-radius: 100px;
                        width: 50px;
                        height: 25px;
                        position: relative;

                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        text-align: center;
                        justify-content: center;
                        padding-left: 3px;

                        &::after {
                            content: '';
                            position: absolute;
                            width: 21px;
                            height: 21px;
                            background-color: #0e5e56;
                            border-radius: 80%;
                            transition: 0.5s;
                        }
                    }
                }

                .form-control,
                .form-select {
                    &:focus {
                        border-color: #008b8b;
                        box-shadow: inherit;
                    }
                }

                .hr {
                    height: 1.5px;
                    width: 100%;
                    background-color: #acacac;
                }

                .hr-text {
                    background-color: rgb(248, 248, 248);
                    padding: 0 10px;
                    color: rgb(173, 173, 173);
                    width: auto;
                    margin: 0 auto;
                    margin-top: -8px;
                    font-size: 10px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                .gender-label {
                    margin-left: 6px;
                }

                .register-button {
                    padding: 7px 17px;
                    border: 2px solid #107369;
                    color: #107369;
                    font-weight: 600;
                    font-size: 14px;
                    text-transform: uppercase;
                    background-color: #ffffff00;
                    border-radius: 50px;
                    box-shadow: 2px 2px 2px #757575;
                    letter-spacing: 1px;
                    word-spacing: 3px;

                    &:hover {
                        background-color: #107369;
                        transition: background-color 0.4s linear;
                        color: #F2F2F2;
                    }
                }
            }

            .category-column {
                width: 100%;
                height: 90%;

                // overflow: auto;
                // background-color: #008b8b;
                //    visibility: hidden;
                .category-title {
                    text-transform: uppercase;
                    color: #0e5e56;
                    letter-spacing: 5px;
                    font-size: 27px;
                    font-weight: 700;
                }

                .category-buttons {
                    width: 100%;
                    height: 44%;
                    overflow: auto;
                    margin-top: 15px;
                    box-shadow: inset 0 -5px 5px -5px rgb(163, 163, 163);
                    // box-shadow: inset 0 -5px 5px -5px rgb(142, 142, 142);

                    @include res-md {
                        height: 82%;
                        overflow-y: auto;
                        overflow-x: hidden;
                    }

                    .category-card {
                        // background-color: #757575;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        text-align: center;
                        justify-content: center;

                        .category-option {
                            width: 100px;
                            height: 100px;
                            border: 3px solid #008b8b;
                            border-radius: 20px;
                            align-items: center;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            text-align: center;
                            justify-content: center;
                            cursor: pointer;
                            z-index: 2;

                            .category-icon {
                                width: 60%;
                                z-index: 0;
                            }
                        }

                        .selected {
                            background-color: #008b8b;
                        }

                    }

                }

                .register-button {
                    // padding: 7px 17px;
                    border: 2px solid #107369;
                    color: #107369;
                    font-weight: 600;
                    font-size: 14px;
                    text-transform: uppercase;
                    background-color: #ffffff00;
                    border-radius: 50px;
                    box-shadow: 2px 2px 2px #757575;
                    letter-spacing: 1px;
                    word-spacing: 3px;

                    &:hover {
                        background-color: #107369;
                        transition: background-color 0.4s linear;
                        color: #F2F2F2;
                    }
                }
            }


        }
    }
}