.approval {
    background-color: #f6f6f6;
    height: 100%;
}

#modalProject {
    .modal-footer {
        .footer-btn {
            gap: 15px;
        }

        #showImprove {
            text-align: start;
            textarea {
                border: 1px solid grey;
                border-radius: 3px;
                padding: 8px;
            }
        }
    }
}