.home {
    .quem-somos {
        background-color: rgb(253, 253, 158);
        padding: 50px 0;

        .titulo {
            font-size: 28px;
            line-height: 30px;
            text-align: center;
        }
    }

    .categorias {
        padding: 50px 0;

        .titulo-principal {
            font-size: 28px;
            line-height: 30px;
        }
    }

    .slick-benefits {
        background-color: #E8E8E8;

        .titulo-01 {
            font-size: 28px;
            line-height: 30px;
        }

        .slick {
            padding-bottom: 40px;

            .item {
                .dentro-item {
                    background-color: white;
                    border-radius: 15px;
                    padding: 30px;
                    margin: 0 10px;

                    .titulo-1 {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 20px;
                        color: #008b8b;
                    }

                    .descricao {
                        font-size: 15px;
                    }
                }
            }

            .slick-prev {
                left: -40px;
                &:before {
                    color: black;
                }
            }

            .slick-next {
                right: -40px;
                &:before {
                    color: black;
                }
            }
        }
    }
}