.login-admin {
    background-color: #f6f6f6;
    height: 100%;

    .title {
        font-size: 30px;
        font-family: 'Roboto Mono', monospace;
    }

    .login {
        border-radius: 20px;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        background-color: #fff;

        .form-title {
            font-size: 25px;
            letter-spacing: 3px;
            font-weight: 700;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px rgb(178, 178, 178);
        }

        .form-login {
            margin: 0 auto;

            input {
                background-color: white;
            }

            .btn-1 {
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1px;
                word-spacing: 3px;
                color: #f2f2f2;
                text-transform: uppercase;
                padding: 7px 17px;
                margin: 20px 0;
                box-shadow: 2px 2px 2px #757575;
                background-color: #d19e04;
                border: 2px solid #d19e04;
                border-radius: 50px;
                transition: background-color 0.4s linear;

                &:hover {
                    background-color: #f2f2f2;
                    transition: background-color 0.4s linear;
                    color: #d19e04;
                }
            }
        }
    }
}