.newProject {
    .banner-titulo {
        color: white;
        background-image: linear-gradient(to bottom, #58706e, #008b8b, #58706e);
        justify-content: start;
        padding: 50px 0 100px;

        @include res-lg {
            padding: 50px 0 90px;
        }

        .titulo-1 {
            font-size: 28px;
        }

        .descricao {
            font-size: 18px;
        }

        .btn-1 {
            padding: 7px 17px;
            border: 2px solid #F29F05;
            color: #F29F05;
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
            background-color: #ffffff00;
            border-radius: 50px;
            box-shadow: 2px 2px 2px #757575;
            letter-spacing: 1px;
            word-spacing: 3px;
            transition: background-color 0.3s linear;
            float: left;

            &:hover {
                background-color: #F29F05;
                transition: background-color 0.2s linear;
                color: white;
            }
        }
    }

    .form {
        margin: -3.5rem 0 3rem;

        .projectForm {
            background-color: #FFFFFF;
            box-shadow: 0 0 1rem grey;
            border-radius: 10px;
            padding: 20px;

            .form-control,
            .form-select {
                &:focus {
                    border-color: #008b8b;
                    box-shadow: inherit;
                }
            }

            .form-cat-color,
            .form-data,
            .form-quantidades {
                .form-floating {
                    .form-label {
                        padding-left: 25px;
                    }
                }
            }

            .form-cat-color .form-floating>.form-select {
                height: calc(3.5rem + 15px);
            }

            input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            textarea {
                height: 100px;
            }
        }
    }

    .enviar {
        .btn-1 {
            font-size: 16px;
            line-height: 22px;
            background-color: #ffc107;
            border-radius: 6px;
            padding: 12px 20px;
            transition: .7s;

            &:hover {
                color: #FFFFFF;
                background-color: #d19e04;
                transition: .7s;
            }
        }
    }
}